<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>

<div class="content">
  <div class="header">
    <ul>
      <li><span>Home</span></li>
      <li><span>About</span></li>
      <li><span>Work</span></li>
      <li><span>Contact</span></li>
    
    </ul>
  </div>
  <div class="container homePannel">
    <div class="name">
      <h1>Miguel <br>Munaldi</h1>
      <p class="intro">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem a ratione atque, fuga aliquam doloremque voluptatum rem ad accusantium laborum architecto quos nihil hic, odio sunt iusto perspiciatis ea culpa.
      </p>
    </div>
    
    
        <div class="">
          <img class="profilePicture" src="../assets/profilePicture.png" alt="">
        </div>

   </div>
   <div class="circleGlowYellow"></div>
   <div class="circleGlowBlue"></div>




</div>